<nav class="p-2 navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
        <h3>Welcome to BSE Data</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav right mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-primary" href="https://my.papertrailapp.com" target="_blank">Worker Log</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
